[submodule "src/country-flags"]
	path = src/country-flags
	url = https://github.com/hjnilsson/country-flags.git
[submodule "src/flag-icon"]
	path = src/flag-icon
	url = https://github.com/stevenrskelton/flag-icon
